{% extends "base.html" %}

{% block content %}

  <!--{% block title %}
  <div class="postlist-header">
     {{ config.title }} &middot; <a href="/tags">Tags</a> &middot; {{ term.name | capitalize }}
  {% endblock title %}
  </div>-->

  <h1 class="page-title">{{ term.name }}</h1>

  <ul class="postlist">
    {% for page in term.pages | sort(attribute="date") | reverse %}
    <li class="postlist-item">
      {% if page.date %}
      <div class="date">
        <time class="postlist-date">{{ page.date | date(format="%d %B %Y") }}</time>
      </div>
      {% endif %}
      <h2 class="postlist-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
      <!--<p class="postlist-description">{{ page.description }}</p>-->
    </li>
    {% endfor %}
  </ul>

  {% endblock content %}
