.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
 
.menu li {
    position: relative;
}
 
.menu li a {
    display: block;
    padding-bottom: 10px;
    text-decoration: none;
    color: #333;
}
 
.dropdown .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}
 
.dropdown:hover .submenu {
    display: block;
}