{% extends "base.html" %}

{% block content %}
    <article>
        <h1 class="page-title">404 – Whoops!</h1>
        <h2 class="page-description">Someone’s going to have hell to pay, but rest assured that person isn’t you</h2>
        <p>Maybe these might be of interest:</p> 
        <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/tags">Topics</a></li>
            <li><a href="/about">About</a></li>
        </ul>            
        <p>Alternatively, return to the <a href="/">Home</a> page and try again.</p>
    </article>
{% endblock %}