<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {{ config.title }}
  </title>

  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

  <meta name="description" content="{{ config.description }}">
  
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/rss.xml">

  <!--{% block rss %}    
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
  {% endblock %}-->

  <link rel="stylesheet" href="/style.css">

  <link rel="me" href="https://mastodon.social/@mdhb">

</head>

<body>

  <header>
    <div class="masthead_outer">
        <div class="masthead">
            <a class="banner" href="/" class="home-link">The<br>Markdown<br>Handbook</a>
        </div>
            <!--<div class="item">
            {% if config.build_search_index -%}
                <div id="on_right">
                    <span id="search-ico" class="ms-Icon--Search"></span>
                </div>
                <div class="search-container">
                    <input id="search" type="search" placeholder="Search as you type...">
                    <div class="search-results">
                        <div class="search-results__header"></div>
                        <ul class="search-results__items"></ul>
                    </div>
                </div>
            {% endif -%}
            </div>-->

    </div>
    </header>
<section class="wrapper">

        <nav aria-label="Main Navigation" role="navigation">
            <input id="menu-toggle" type="checkbox" />
            <label class="hamburger" for="menu-toggle">&#9776;</label>
            <ul class="menu">
                <li class="dropdown">
                    <a href="#">Getting started &#8595;</a>
                    <ul class="submenu">
                        <li><a href="/getting-started/start-here">Start here</a></li>
                        <li><a href="/getting-started/use-cases">Use cases</a></li>
                        <li><a href="/getting-started/flavours">Flavours</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Rules & syntaxes &#8595;</a>
                    <ul class="submenu submenu-left">
                        <li><a href="/rules-or-syntaxes/the-basics">Cheat sheet</a></li>
                        <li><a href="/rules-or-syntaxes/extended-syntax">Extended syntax</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/tools">Tools &#8595;</a>
                    <ul class="submenu submenu-left">
                        <li><a href="/tools/markdown-editors">Markdown editors</a></li>
                        <li><a href="/tools/static-site-generators">Static site generators</a></li>
                    </ul>
                </li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
  </header>

        <section class="container">
        <main>
            {% block content %}
            {% endblock %}
        </main>
        </section><!-- container -->

        <section class="message">
            <div class="flex_item">
                <img src="" />
            </div>
            <div class="flex_item words">
                <h3>Download the<br>cheat sheet</h3>
                <p>Some wording here. You can include a maximum of 30 words in your message to our readers. 90 characters</p>
            </div>
        </section>
</section><!-- wrapper -->

{% include "partials/footer.html" %}

</body>

</html>